<div class="login-form-flex">
  <mat-card class="mat-elevation-z0 outline">
    <mat-card-header>
      <mat-card-title><strong>Login to our site</strong></mat-card-title>
      <mat-card-subtitle
        ><span>Enter username and password to log on</span></mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field>
          <input
            required
            matInput
            formControlName="inputUserName"
            placeholder="Username"
            autocomplete="off"
          />
          <mat-error *ngIf="f.inputUserName.errors?.required"
            >Username is required</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            type="password"
            required
            matInput
            formControlName="inputPassword"
            placeholder="Password"
            autocomplete="off"
          />
          <mat-error *ngIf="f.inputPassword.errors?.required"
            >Password is required</mat-error
          >
          <mat-error *ngIf="f.inputPassword.errors?.invalidCredentials"
            >Invalid Credentials</mat-error
          >
        </mat-form-field>
        <mat-form-field class="country-code">
          <input
            required
            matInput
            formControlName="inputCountryCode"
            autocomplete="off"
            placeholder="Country Code"
          />
          <mat-error *ngIf="f.inputCountryCode.errors?.required"
            >Country Code is required</mat-error
          >
          <mat-error *ngIf="f.inputCountryCode.errors?.pattern"
            >Country code must be number only and prefix with +. e.g:
            +91</mat-error
          >
        </mat-form-field>
        <mat-card-actions>
          <div class="button-flex-container">
            <button mat-raised-button color="primary">SIGN IN</button>
            <span
              >Don't have an account?
              <a routerLink="/register" routerLinkActive="active"
                >Sign up here</a
              ></span
            >
            <a routerLink="/#" routerLinkActive="active">Forgot Password?</a>
          </div>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="isLoading$ | async">
  <mat-spinner class="mat-spinner"></mat-spinner>
</div>
