@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red-snackbar {
  background: #f44336;
  color: white;
}

.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
